:root {
  --primary: #E4E3D9;
  --secondary: #C2BFA7;
  --third: #872C27;
  --fourth: #355B33;
  --black: #000000;
  --white: #FFFFFF;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--black);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  display: flex;
  flex: 1;
} */

html {
  min-height: 100%;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

nav a:hover {
  color: var(--third);
  text-shadow: 1px 1px var(--primary);
}

li {
  list-style: none;
}

/* !=== END OVERVIEW CSS ===! */

/* !=== START HEADER/NAV CSS ===! */

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--secondary);
  color: #EEEEEE;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: var(--black);
}

.hero-div {
  display: flex;
  width: 25%;
  justify-content: center;
}

.hero-nav, .right-links {
  padding-top: 10px;
  width: 33%;
}

.hero-nav, ul {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: row;
  font-size: 24px;
  padding-left: 40px;
  color: var(--white);
  text-shadow: 1px 1px var(--black);
}

.right-links {
  display: flex;
  width: 25%;
  text-align: center;
  font-size: 24px;
  justify-content: space-around;
  padding-top: 33px;
  color: var(--white);
  text-shadow: 1px 1px var(--black);
}

a nav-link:hover {
  color: var(--third);
  text-shadow: 1px 1px var(--white);
}

.hero-text {
  font-size: 40px;
  text-shadow: 2px 2px var(--primary);
  color: var(--black);
  margin-top: 23px;
}

.hero-text:hover {
  color: var(--fourth);
}

.nav-link-active {
  background-color: var(--black);
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  border-radius: 25px;
}

.nav-link-active:hover {
  text-decoration-color: var(--third);
}

/* !=== END HEADER/NAV CSS ===! */

/* !=== START ABOUT CSS ===! */

.about-me-cont {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 85%;

}

.bio-cont {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  width: 80%; 
}

.my-photo {
  max-width: 40%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.vincent-info-container {
  width: 50%;
  height: 100%;
  margin-left: 2em;
  text-align: left;
}

.info-name {
  text-shadow: 1px 1px 1px var(--secondary);
}

.info-job {
  color: var(--third);
  text-shadow: 0.5 0.5 0.5 var(--black);
}

.info-name::after {
  content: '';
  display: block;
  height: 1px;
  width: 15em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.info-job::after {
  content: '';
  display: block;
  height: 1px;
  width: 10em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.relevant-links-container {
  width: 85%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.link-link:hover {
  color: var(--third);
}

.relevant-header {
  text-shadow: 1px 1px var(--secondary);
  text-decoration: underline;
  text-decoration-color: var(--fourth);
}

/* !=== END ABOUT CSS ===! */


/* !=== START FEATURED CSS ===! */

.f-cont {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: var(--third);
  text-shadow: 2px 2px 2px var(--secondary);
}

.f-proj-title, .f-proj-title-2 {
  margin-top: 15px;
  margin-bottom: 23px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--third);
  text-shadow: 2px 2px 2px var(--secondary);
}

.f-proj-title-2 {
  text-decoration-color: var(--fourth);
  text-shadow: 2px 2px 2px var(--primary);
}

.port-img {
    height: 150px;
    width: 40%;
    margin: 10px;
  }

  .f-proj-desc, .f-proj-desc-2 {
    width: 55%;
    align-self: center;
    margin-left: 15px;
    font-size: 20px;
    line-height: 2rem;
  }

.proj-info-cont {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .proj-info-cont-2, .proj-info-cont {
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.proj-link-text, .proj-link-text-2 {
  text-shadow: 1px 1px 1px var(--secondary);
  margin-top: 15px;
  margin-bottom: 15px;
}

.proj-link-text:hover {
  color: var(--fourth);
  text-decoration: underline;
}

.proj-link-text-2:hover {
  color: var(--third);
  text-decoration: underline;
}

.link-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
} 

.projects-head{
  font-size: 35px;
  color: #EEEEEE;
  padding-top: 2%;
  text-decoration: underline;
  text-decoration-color: #0F044C;
}

.project-cont-1, .project-cont-2 {
      border-radius: 25px;
}
.project-cont-2 {
  background-color: var(--secondary);
}

.project h4 {
  color: #0F044C;
  text-decoration: underline;
  text-decoration-color: var(--fourth);
  font-size: 23px;
  text-shadow: 2px 2px #000000;
}

/* !=== END FEATURED CSS ===! */

/* !=== START PORTFOLIO PAGE ===! */

.main-port-container {
  margin: 20px auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-style-head {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--fourth);
  text-shadow: 2px 2px var(--secondary);
}

.port-img {
  height: 250px;
  width: 450px;
  border-radius: 25px;
  box-shadow: 1px 1px var(--black);
}

.port-img-link {
  height: 250px;
  width: 450px;
  border-radius: 25px;
  box-shadow: 1px 1px var(--black);
}

.port-img-link:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px)
}

.individ-container {
  width: 85%;
  margin: 20px auto
}

.info-for-link {
  text-align: center;
  margin: 20px;
}

.more-info-cont {
  width: 85%;
  margin: auto;
}

.more-info-head {
  text-align: center;
  text-shadow: 1px 1px var(--secondary);
}

.more-info-link {
  text-align: center;
  color: var(--third);
  text-decoration: underline;
}

.more-info-link:hover {
  color: var(--fourth);
}
/* !=== END PORTFOLIO PAGE ===! */

/* !=== START TECHNOLOGIES CSS ===! */

.tech-story-cont {
  width: 85%;
  margin: auto;
  text-align: center;
}

.ts-text {
  text-shadow: 1px 1px var(--secondary);
}

.p-text-tech {
  text-align: center;
}

.text-link {
  color: var(--fourth);
}

.text-link:hover {
  color: var(--third);
}

.tech-cont {
  width: 85%;
  background-color: var(--secondary);
  margin: auto;
  margin-top: 40px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

.tech-card {
  margin: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 25px;
}

.tech-head {
  text-align: center;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: var(--fourth);
}

.ul-class {
  flex-direction: column;
  margin-left: -25px;
  color: var(--black);
  text-shadow: 1px 1px var(--secondary);
}

.language-cont {
  margin: auto;
  margin-top: -10px;
  justify-content: center;
  vertical-align: middle;
}

.tech-logo {
  color: var(--third);
  margin-left: 10px;
}
/* !=== END TECHNOLOGIES CSS ===! */

/* !=== START RESUME CSS ===! */

.resume-cont {
  width: 85%;
  margin: auto;
  margin-top: 35px;
}

.special-head::after, .special-head-2::after {
  content: '';
  display: block;
  height: 2px;
  width: 6em;
  background: var(--third);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.single-head-1::after {
  content: '';
  display: block;
  height: 1px;
  width: 19em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.single-head-2::after {
  content: '';
  display: block;
  height: 1px;
  width: 29em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.single-head-3::after {
  content: '';
  display: block;
  height: 1px;
  width: 20em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.single-head-4::after {
  content: '';
  display: block;
  height: 1px;
  width: 23em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.single-head-5::after {
  content: '';
  display: block;
  height: 1px;
  width: 17em;
  background: var(--fourth);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.date-attended::after {
  content: '';
  display: block;
  height: 1px;
  width: 15.5em;
  background: var(--black);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.date-attended-2::after {
  content: '';
  display: block;
  height: 1px;
  width: 14em;
  background: var(--black);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.date-attended-3::after {
  content: '';
  display: block;
  height: 1px;
  width: 11em;
  background: var(--black);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.date-attended-4::after {
  content: '';
  display: block;
  height: 1px;
  width: 14.5em;
  background: var(--black);
  margin: 0.5rem 0;
  opacity: 0.8;
}

.date-attended-5::after {
  content: '';
  display: block;
  height: 1px;
  width: 14.5em;
  background: var(--black);
  margin: 0.5rem 0;
  opacity: 0.8;
}

/* !=== START CONTACT CSS ===! */

.form-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 85%;
}

.contact-title {
  font-size: 1.3em;
  text-shadow: 1px 1px var(--secondary);
}

.form-img-container {
  max-width: 45%;
}

.form-img-container img {
  width: 100%;
}

.email-form {
  min-width: 50%; 
  display: flex;
  flex-direction: column;
  margin: auto;
}

.email-message{
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.email-checkmark{
  margin-right: 0.2rem;
  color: var(--fourth);
}

.email-error{
  color: red;
  margin-right: 0.2rem;
}

@keyframes fade-in-text {
  from {
      opacity: 0;
      transform: translateY(10px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade {
  animation: fade-in-text 0.2s ease-in;
}

form {
  display: flex;
  flex-direction: column;
}

form input, textarea {
  margin: 0.5em 0 2.5em;
  padding: 0.7em;
  background-color: var(--white);
  border: solid 1px var(--black);
}

form label {
  font-size: 1.1em;
}

.contact-btn{
  background-color: #fff;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  width: 25%;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.contact-btn:hover {
  background-color: var(--third);
  cursor: pointer;
  color: #fff;
}

.vinny-guitar {
  height: 600px;
  width: 100%;
  margin: 20px;
  margin-left: 0;
}

textarea {
  height: 80px;
}

/* !=== END CONTACT CSS ===! */

/* !=== START FOOTER CSS ===! */

.footer-div {
  display: flex;
  position: relative;
  bottom: 0;
  height: 3.5rem;
  justify-content: center;
  width: 100%;
  color: var(--black);
  background-color: var(--secondary);
  border-top: solid;
  border-color: var(--black);
}

.icon-list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0px;
  font-size: 20px;
  margin-top: 10px;
}

.icon-li:hover {
  flex-direction: column;
  color: var(--third);
}

/* !=== END FOOTER DIV ===! */

/* !=== START MOBILE NAV ===! */

.mobile-nav-link{
  text-decoration: none;
  color: #000;
}

.mobile-nav-link:hover {
  background-color: #C2BFA7;
}

.mobile-div {
  margin-top: 33px;
  margin-right: 5px;
}

/* !=== END MOBILE NAV ===! */



/* === START ORIGINAL MQ === */

@media screen and (max-width: 980px) {
  
  .about-section {
    width: 90%;
  }

  .hero-nav ul {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .hero-nav ul li {
    padding-bottom: 5px;
  }

  .vince-img {
    width: 40%;
  }

  .f-proj-desc {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .f-proj-title-2 {
    margin-bottom: 0px;
  }

  .proj-info-cont {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .proj-info-cont-2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .project-cont-1 {
    width: 100%;
  }

  .project-cont-2 {
    width: 100%;
  }

  .proj-link-text-2 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .link-container {
    margin-bottom: 10px;
  }

  .about-me-cont {
    flex-direction: column;
    justify-content: center;
    width: auto;
    text-align: center;
  }

  .bio-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    margin-left: 50px;
  }

  .vincent-info-container {
    width: auto;
    text-align: left;
  }

  .my-photo {
    max-width: 350px;
    max-height: 450px;
    margin: auto;
  }

  .info-name::after {
    width: 10em;
  }

  .info-job::after {
    width: 12em;
  }

  .card-container {
    width: 100%;
    flex-wrap: wrap;
  }

  .tech-card {
    width: 45%;
  }

  .form-container {
    width: 95%;
  }

  .vinny-guitar {
    height: 350px;
  }

  .email-form {
    width: 60%;
  }

  .hero-text {
    margin-left: 20px;
    width: 180%;
    font-size: 28px;
    margin-top: 44px;
  }

  .info-name::after {
    width: 12em;
  }

  .hero-nav ul {
    flex-direction: row;
    margin-top: 37px;
    margin-left: 15px;
  }

  .right-links {
    margin-left: 40px;
    margin-top: 15px;
  }

  .f-proj-title-2 {
    margin-bottom: 20px;
  }

  textarea {
    height: 125px;
  }
  
}

@media screen and (max-width: 850) {

  .about-me-cont {
    flex-direction: row;
    width: 85%;
  }

  .bio-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .vincent-info-container {
    width: 60%;
  }

}

@media screen and (max-width: 575px) {

  .hero {
    width: 100%;
  }

  .mobile-div {
    padding: 0;
  }

  .hero-nav {
    display: none;
  }

  .right-links {
    display: none;
  }

  .hero-div {
    width: 50%;
  }

  .hero-text {
    font-size: 2em;
    width: 85%;
    margin-right: 115px;
    margin-top: 25px;
  }

  .mobile-nav-link {
    margin-top: 50px;
    display: block;
    padding: 0;
  }
  

  .hero-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--black);
  }

  .hero-nav ul li {
    margin-bottom: 5px;
    margin-right: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 200px;
    color: var(--black);
    text-shadow: none;
  }
  
  .bio-cont {
    max-width: 95%;
    margin: auto;
  }

  .info-name::after {
    width: 13em;
  }

  .info-name {
    margin-right: 6px;
  }
  
  .vincent-info-container {
    margin: 0;
  }
  .info-job::after {
    width: 13.3em;
    margin-left: 25px;
  }

  .container {
    width: 100%;
  }
  
  .txt-div {
    flex-direction: column;
  }

  .vince-img {
    margin: 0 auto;
    height: 300px;
    width: 100%;
  }

  .port-img {
    align-self: center;
    height: 150px;
    width: 300px;
  }

  .port-img-link {
    width: 350px;
    margin: auto;
  }

  .f-proj-desc-2 {
    display: none;
  }

  .proj-info-cont-2, .proj-info-cont {
    flex-direction: column;
  }

  .message-area {
    width: 300px;
  }

  .f-cont {
    margin: 0;
  }

  .f-proj-desc {
    width: 95%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .f-proj-title-2 {
    margin-bottom: 0px;
  }

  .proj-info-cont {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .proj-info-cont-2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .project-cont-1 {
    width: 90%;
  }

  .project-cont-2 {
    width: 90%;
  }

  .proj-link-text-2 {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .link-container {
    margin-bottom: 10px;
  }

  .about-me-cont {
    flex-direction: column;
    justify-content: center;
    width: auto;
    text-align: center;
  }

  .about-me-cont {
    margin: 0;
    width: 100%;
  }

  .vincent-info-container {
    width: auto;
    text-align: center;
  }

  .my-photo {
    display: none;
  }

  .tech-card {
    width: 90%;
  }

  .single-head-1::after, .single-head-2::after, .single-head-3::after, .single-head-4::after, .single-head-5::after {
    width:12em;
  }
    
  .date-attended::after {
    width: 14.5em;
  }
  
  .date-attended-2::after {
    width: 13em;
  }

  .date-attended-3::after {
    width: 10.5em;
  }
  
  .date-attended-4::after {
    width: 13.5em;
  }

  .ts-text {
    display: none;
  }

  .p-text-tech {
    margin-top: 35px;
  }

  .tech-card {
    height: 370px;
  }
  
  .language-cont {
    margin-top: 40px;
  }
  
  .form-img-container {
    display: none;
  }

  .relevant-links-container {
    width: 100%;
  }

  .f-proj-desc {
    margin: 0;
  }

  .email-form {
    width: 95%;
  }

  textarea {
    height: 125px;
  }

  .mobile-nav-link {
    margin-top: 0;
  }
  
}

/* === END ORIGINAL MQ === */